html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: auto !important;
    overflow-x: hidden !important;
}

#hello {
    text-align: center;
    margin: 5px 0px 10px 0px;
}

textarea {
    width: 100%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 5px;
    font-size: 18px;
    border: 2px solid #999;
    border-radius: 4px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo {
    background-color: #0181fa;
    text-align: 'center';
    padding: 10px;
    color: white;
}

.content {
    padding: 10px;
    margin: 0px auto;
}

.content-field {
    border: 1px solid #999999;
    width: 100%;
    padding-bottom: 10px;
}

.content-field-input {
    padding: 8px 5px;
    width: 100%;
    font-size: 18px;
    border: 2px solid #999;
    border-radius: 4px;
}

.content-field-input:disabled {
    background-color: #ebebeb;
}

textarea:disabled {
    background-color: #ebebeb;
}

.field {
    margin-bottom: 15px;
    margin-right: 15px;
}

.button {
    width: 100%;
    height: 40px;
    background-color: #0181fa;
    font-size: 18px;
    color: white;
    border: 0px solid #0181fa;
    border-radius: 4px;
}

.slider {
    width: 100%;
}